.content a {
    text-decoration: none;
    color: #7038ff;
    margin-right: 10px;
    transition: color 0.3s;
}

.content a:hover {
    color: #c6c7ff;
}

.section-heading {
    text-align: left;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #333;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    padding-bottom: 50px;
}

.card {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    max-width: 22%;
    border: 3px solid transparent;
    box-sizing: border-box;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.05);
    border-color: #c6c7ff;
}

.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.card-excerpt {
    margin-bottom: 20px;
    color: #777;
    flex-grow: 1;
}

.card-links {
    position: absolute;
    padding-bottom: 20px;
    bottom: 0;
}