/* styles for sub folders */
.wrapper {
    display: flex;
}

.right-sidebar {
    width: 17%;
    position: sticky;
    padding: 20px 3% 50px;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.right-sidebar::-webkit-scrollbar {
    display: none;
}

.right-sidebar h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: 700;
}

.right-sidebar .section-heading {
    display: block;
    color: #7038ff;
    padding: 10px 0 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
    margin: 0 0 0 10px;
    transition: 0.3s;
}

.right-sidebar a {
    display: block;
    color: #7038ff;
    padding: 5px 0;
    text-decoration: none;
    font-weight: 300;
    font-size: 1em;
    margin: 0 0 0 25px;
    transition: 0.3s;
}

.right-sidebar a:hover {
    color: #c6c7ff;
}

.left-sidebar {
    width: 17%;
    padding: 20px 3% 50px;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.left-sidebar h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: 700;
}

.left-sidebar .section-heading {
    display: block;
    color: #7038ff;
    padding: 10px 0 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2em;
    margin: 0 0 0 10px;
    transition: 0.3s;
}

.left-sidebar .section-subheading {
    display: block;
    color: #7038ff;
    padding: 5px 0;
    text-decoration: none;
    font-weight: 300;
    margin: 0 0 0 25px;
    transition: 0.3s;
}

.left-sidebar a:hover {
    color: #c6c7ff;
}

.content {
    width: 60%;
    padding-top: 40px;
    background-color: #fff; /* White background for content */
    margin: 0;
    overflow-y: auto;
}

p {
    margin: 0;
    line-height: 2;
    /*text-align: justify;*/
}

.content .section-heading {
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2em;
    color: #4d5b7c;
}

.content .section-subheading {
    text-align: left;
    margin-bottom: 0;
    font-size: 1.25em;
    color: #4d5b7c;
}
